<div class="main-div">
  <div class="comment-sections" *ngFor="let com of comments">
    <div class="voice">
      <div class="volume-up-down">
        <div class="up">
          <img src="../assets/images/icon-plus.svg" alt="plus" />
        </div>
        <div class="point">
          <h3>{{ com.score }}</h3>
        </div>
        <div class="down">
          <img src="../assets/images/icon-minus.svg" alt="minus" />
        </div>
      </div>
    </div>
    <div class="comment">
      <div class="user-reply">
        <div class="user-name-date">
          <div class="image">
            <img class="user-image" src="{{ com.userImg }}" />
          </div>
          <div class="user-name">
            <p>
              <strong>{{ com.userName }}</strong>
            </p>
          </div>
          <div class="date">
            <p>{{ com.date }}</p>
          </div>
        </div>
        <div class="reply">
          <img class="reply-svg" src="../assets/images/icon-reply.svg" />
          <p class="reply-txt">Reply</p>
        </div>
      </div>
      <div class="content">
        <p>{{ com.content }}</p>
      </div>
    </div>
  </div>

  <div
    class="user-comments"
    *ngFor="let userCom of userComments; let i = index"
  >
    <div class="user-comment-sections">
      <div class="voice">
        <div class="volume-up-down">
          <div class="up no-cursor">
            <img src="../assets/images/icon-plus.svg" alt="plus" />
          </div>
          <div class="point"><h3>0</h3></div>
          <div class="down no-cursor">
            <img src="../assets/images/icon-minus.svg" alt="minus" />
          </div>
        </div>
      </div>
      <div class="comment">
        <div class="user-reply-small">
          <div class="user-name-date">
            <div class="image">
              <img
                class="user-image"
                id="julImg"
                src="../assets/images/avatars/image-juliusomo.png"
              />
            </div>
            <div class="user-name">
              <p><strong>juliusomo</strong></p>
            </div>
            <div class="date"><p>Now</p></div>
          </div>
          <div class="delete-edit">
            <div class="delete" id="Delete">
              <img class="delete-svg" src="../assets/images/icon-delete.svg" />
              <p class="delete-svg" (click)="deleteCom(i)">Delete</p>
            </div>
            <div class="edit">
              <img class="edit-svg" src="../assets/images/icon-edit.svg" />
              <p class="edit-svg" (click)="allowEdit(i)">Edit</p>
            </div>
          </div>
        </div>
        <div class="content-small">
          <p class="content-p" *ngIf="!editCom">{{ userCom }}</p>
          <div style="display: flex" *ngIf="editCom">
            <textarea
              class="wc-input-txt"
              [(ngModel)]="editedComContent"
            ></textarea>
            <button
              class="wc-btn"
              style="margin-left: 20px"
              (click)="subEditedCom(i)"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="write-comment">
    <div class="wc-user-image">
      <img
        class="wc-user-image-style"
        src="../assets/images/avatars/image-juliusomo.png"
        alt="user-image"
      />
    </div>
    <div class="wc-input">
      <textarea class="wc-input-txt" [(ngModel)]="wrotedCom"></textarea>
    </div>
    <div class="send-btn">
      <button class="wc-btn" (click)="addUserComment()">Send</button>
    </div>
  </div>
</div>
